@import "./semantic-ui/semantic.less";

/* This file is for your main application css. */

html, body {
  height: 100%;
  font-size: 20px;
}

.ui.full.height {
  height:100%;
}

.ui.without.padding {
  padding: 0 !important;
}

.ui.with.padding {
  padding: 1em;
}

.react-codemirror2 {
  border-right: 1px solid #ddd;
}

.react-codemirror2 > .CodeMirror {
  height: 100%;
}

.ui.padded.card {
  padding: 1.5em;
}

.ui.dropdown.visible > .menu.visible {
  display: block;
}

@import (inline) "../node_modules/codemirror/lib/codemirror.css";
@import (inline) "../node_modules/codemirror/theme/neat.css";
